CronotermostatoV8
[
  {
    "id": "797c1ab8f59de950",
    "type": "tab",
    "label": "Cronotermostato v8",
    "disabled": false,
    "info": "Versione senza loop"
  },
  {
    "id": "ui-template-main",
    "type": "ui-template",
    "z": "797c1ab8f59de950",
    "group": "d959146169055fea",
    "page": "",
    "ui": "",
    "name": "Cronotermostato UI",
    "order": 1,
    "width": "6",
    "height": "8",
    "head": "",
    "format": "<template>\n    <div class=\"thermo\">\n        <div class=\"now-bar\">\n            <span>🕐</span>\n            <span class=\"now-text\">{{ nowDay }} {{ nowTime }}</span>\n            <span v-if=\"isToday\" class=\"today-badge\">OGGI</span>\n        </div>\n        \n        <div class=\"day-box\">\n            <small>PROGRAMMAZIONE</small>\n            <div class=\"day-name\">{{ dayName }}</div>\n            <div class=\"day-nav\">\n                <button @click=\"prevDay\">◀</button>\n                <button @click=\"goToday\" class=\"today-btn\">OGGI</button>\n                <button @click=\"nextDay\">▶</button>\n            </div>\n        </div>\n        \n        <hr/>\n        \n        <div class=\"hours\">\n            <div v-for=\"h in 12\" :key=\"'a'+h\" class=\"hcell\" :class=\"{sel: selHour===(h-1), now: isNowSlot(h-1)}\" @click=\"pickHour(h-1)\">\n                <small>{{ tempAt(h-1) }}°</small>\n                <div class=\"bar\"><div class=\"fill\" :style=\"barCss(h-1)\"></div></div>\n                <small>{{ h-1 }}</small>\n            </div>\n        </div>\n        \n        <hr/>\n        \n        <div class=\"hours\">\n            <div v-for=\"h in 12\" :key=\"'b'+h\" class=\"hcell\" :class=\"{sel: selHour===(h+11), now: isNowSlot(h+11)}\" @click=\"pickHour(h+11)\">\n                <small>{{ tempAt(h+11) }}°</small>\n                <div class=\"bar\"><div class=\"fill\" :style=\"barCss(h+11)\"></div></div>\n                <small>{{ h+11 }}</small>\n            </div>\n        </div>\n        \n        <hr/>\n        \n        <div class=\"info-row\">\n            <span class=\"big-temp\">{{ selTemp }}</span>\n            <span class=\"status\">{{ statusMsg }}</span>\n        </div>\n        \n        <div class=\"btns\">\n            <button @click=\"tempDown\"><span class=\"icon\">▼</span><span>Giù</span></button>\n            <button @click=\"tempUp\"><span class=\"icon\">▲</span><span>Su</span></button>\n            <button @click=\"copyDay\"><span class=\"icon\">⧉</span><span>Copia</span></button>\n            <button class=\"green\" @click=\"saveData\"><span class=\"icon\">💾</span><span>Salva</span></button>\n            <button class=\"red\" @click=\"cancelData\"><span class=\"icon\">✕</span><span>Annulla</span></button>\n        </div>\n    </div>\n</template>\n\n<script>\nexport default {\n    data() {\n        return {\n            day: 1, selHour: -1, timing: [], statusMsg: '',\n            days: ['LUNEDÌ','MARTEDÌ','MERCOLEDÌ','GIOVEDÌ','VENERDÌ','SABATO','DOMENICA']\n        }\n    },\n    computed: {\n        dayName() { return this.days[this.day - 1] || ''; },\n        selTemp() { return this.selHour < 0 ? '--' : this.tempAt(this.selHour) + '°C'; },\n        isToday() { return this.day === this.nowDayIndex; },\n        nowDayIndex() { const d = new Date().getDay(); return d === 0 ? 7 : d; },\n        nowHour() { return new Date().getHours(); },\n        nowDay() { const n = new Date(), ds = ['Dom','Lun','Mar','Mer','Gio','Ven','Sab']; return ds[n.getDay()] + ' ' + n.getDate() + '/' + (n.getMonth()+1); },\n        nowTime() { const n = new Date(); return ('0'+n.getHours()).slice(-2) + ':' + ('0'+n.getMinutes()).slice(-2); }\n    },\n    watch: {\n        msg(m) {\n            if (!m) return;\n            if (Array.isArray(m.timing)) this.timing = [...m.timing];\n            if (typeof m.day === 'number') this.day = m.day;\n            if (m.status) { this.statusMsg = m.status; setTimeout(() => this.statusMsg = '', 2000); }\n        }\n    },\n    mounted() {\n        this.day = this.nowDayIndex;\n        this.send({action: 'load'});\n    },\n    methods: {\n        tempAt(h) { return this.timing.length ? (this.timing[((this.day-1)*24) + h] || 18) : 18; },\n        barCss(h) {\n            const t = this.tempAt(h);\n            const pct = Math.round(((t - 14) / 12) * 100);\n            const c = t <= 16 ? '#1E88E5' : t <= 18 ? '#00ACC1' : t <= 20 ? '#388E3C' : t <= 22 ? '#8BC34A' : t <= 24 ? '#FFC107' : '#FF5722';\n            return {height: pct+'%', background: c};\n        },\n        isNowSlot(h) { return this.isToday && h === this.nowHour; },\n        pickHour(h) { this.selHour = h; this.statusMsg = 'Ore ' + h + ':00'; },\n        prevDay() { this.day = this.day > 1 ? this.day - 1 : 7; this.selHour = -1; },\n        nextDay() { this.day = this.day < 7 ? this.day + 1 : 1; this.selHour = -1; },\n        goToday() { this.day = this.nowDayIndex; this.selHour = -1; },\n        tempUp() {\n            if (this.selHour < 0) { this.statusMsg = 'Seleziona ora'; return; }\n            const idx = ((this.day-1)*24) + this.selHour;\n            if (this.timing[idx] < 26) { this.timing[idx] += 0.5; this.statusMsg = this.timing[idx] + '°C'; }\n            else { this.statusMsg = 'Max!'; }\n        },\n        tempDown() {\n            if (this.selHour < 0) { this.statusMsg = 'Seleziona ora'; return; }\n            const idx = ((this.day-1)*24) + this.selHour;\n            if (this.timing[idx] > 14) { this.timing[idx] -= 0.5; this.statusMsg = this.timing[idx] + '°C'; }\n            else { this.statusMsg = 'Min!'; }\n        },\n        copyDay() {\n            if (this.day < 7) {\n                for (let h = 0; h < 24; h++) this.timing[(this.day * 24) + h] = this.timing[((this.day-1) * 24) + h];\n                this.day++; this.selHour = -1; this.statusMsg = 'Copiato →';\n            } else { this.statusMsg = 'Ultimo giorno!'; }\n        },\n        saveData() { this.send({action: 'save', timing: this.timing}); this.statusMsg = 'Salvato!'; },\n        cancelData() { this.send({action: 'load'}); this.day = this.nowDayIndex; this.selHour = -1; this.statusMsg = 'Ricaricato'; }\n    }\n}\n</script>\n\n<style>\n.thermo { background: #1a1a2e; padding: 8px; border-radius: 10px; font-family: sans-serif; color: #eee; }\n.thermo hr { border: none; border-top: 1px solid #333; margin: 5px 0; }\n.now-bar { display: flex; align-items: center; justify-content: center; gap: 8px; padding: 6px; background: linear-gradient(135deg, #0d7377 0%, #14a3a8 100%); border-radius: 8px; margin-bottom: 6px; }\n.now-text { font-size: 14px; font-weight: bold; color: #fff; }\n.today-badge { background: #4CAF50; color: #fff; padding: 2px 6px; border-radius: 8px; font-size: 9px; font-weight: bold; }\n.day-box { text-align: center; padding: 5px; background: #16213e; border-radius: 8px; }\n.day-box small { color: #888; font-size: 9px; }\n.day-name { font-size: 16px; font-weight: bold; color: #ff6b6b; margin: 2px 0; }\n.day-nav { display: flex; justify-content: center; gap: 6px; margin-top: 3px; }\n.day-nav button { background: #0d7377; border: none; color: #fff; padding: 4px 10px; border-radius: 5px; cursor: pointer; font-size: 12px; }\n.day-nav button:hover { background: #14a3a8; }\n.day-nav .today-btn { background: #ff6b6b; font-size: 10px; }\n.hours { display: flex; gap: 1px; }\n.hcell { flex: 1; display: flex; flex-direction: column; align-items: center; cursor: pointer; padding: 1px; border-radius: 3px; }\n.hcell:hover { background: rgba(255,255,255,0.1); }\n.hcell.sel { background: rgba(76,175,80,0.4); box-shadow: 0 0 0 2px #4CAF50; }\n.hcell.now { box-shadow: 0 0 0 2px #ff6b6b; }\n.hcell.sel.now { box-shadow: 0 0 0 2px #4CAF50, 0 0 0 4px #ff6b6b; }\n.hcell small { font-size: 8px; color: #aaa; }\n.bar { width: 100%; height: 28px; background: #111; border-radius: 2px; display: flex; align-items: flex-end; margin: 1px 0; }\n.fill { width: 100%; border-radius: 2px 2px 0 0; }\n.info-row { display: flex; justify-content: space-between; align-items: center; padding: 5px 10px; background: #16213e; border-radius: 6px; margin: 3px 0; }\n.big-temp { font-size: 18px; font-weight: bold; color: #4ecdc4; }\n.status { color: #ff6b6b; font-size: 12px; }\n.btns { display: flex; gap: 3px; }\n.btns button { flex: 1; padding: 6px 2px; background: linear-gradient(180deg, #1f2b4a 0%, #16213e 100%); border: 1px solid #2a3f5f; border-radius: 5px; color: #ccc; cursor: pointer; font-size: 10px; display: flex; flex-direction: column; align-items: center; gap: 1px; }\n.btns button:hover { background: linear-gradient(180deg, #2a3f5f 0%, #1f2b4a 100%); color: #fff; }\n.btns button .icon { font-size: 12px; }\n.btns button.green { background: linear-gradient(180deg, #14a3a8 0%, #0d7377 100%); border-color: #0d7377; color: #fff; }\n.btns button.red { background: linear-gradient(180deg, #7a3333 0%, #5c2626 100%); border-color: #5c2626; color: #fff; }\n</style>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "className": "",
    "x": 430,
    "y": 140,
    "wires": [["func-handle"]]
  },
  {
    "id": "func-handle",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Gestione Dati",
    "func": "const action = msg.action;\n\nif (action === 'load') {\n    // Carica da file\n    return [{}, null];\n}\n\nif (action === 'save' && msg.timing) {\n    // Salva timing in globale e su file\n    global.set('timing', msg.timing);\n    return [null, {payload: JSON.stringify(msg.timing)}];\n}\n\nreturn null;",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 140,
    "wires": [["file-load"], ["file-save"]]
  },
  {
    "id": "file-save",
    "type": "file",
    "z": "797c1ab8f59de950",
    "name": "Salva",
    "filename": "/etc/openhab/nodered/data/scheduler_new.log",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 850,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "file-load",
    "type": "file in",
    "z": "797c1ab8f59de950",
    "name": "Carica",
    "filename": "/etc/openhab/nodered/data/scheduler_new.log",
    "filenameType": "str",
    "format": "utf8",
    "sendError": true,
    "encoding": "none",
    "allProps": false,
    "x": 850,
    "y": 100,
    "wires": [["func-parse"]]
  },
  {
    "id": "func-parse",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Parse",
    "func": "try {\n    let data = JSON.parse(msg.payload);\n    if (Array.isArray(data) && data.length >= 168) {\n        global.set('timing', data);\n        return {timing: data, status: 'Caricato'};\n    }\n} catch(e) {\n    // File non esiste o non valido, usa default\n    let def = new Array(170).fill(18);\n    global.set('timing', def);\n    return {timing: def, status: 'Nuovo'};\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 990,
    "y": 100,
    "wires": [["ui-template-main"]]
  },
  {
    "id": "inject-start",
    "type": "inject",
    "z": "797c1ab8f59de950",
    "name": "Avvio",
    "props": [{"p": "action", "v": "load", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "x": 430,
    "y": 80,
    "wires": [["func-handle"]]
  },
  {
    "id": "comment2",
    "type": "comment",
    "z": "797c1ab8f59de950",
    "name": "=== LOGICA TERMOSTATO ===",
    "info": "",
    "x": 170,
    "y": 260,
    "wires": []
  },
  {
    "id": "inject-30s",
    "type": "inject",
    "z": "797c1ab8f59de950",
    "name": "30s",
    "props": [{"p": "time", "v": "", "vt": "date"}],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "x": 130,
    "y": 340,
    "wires": [["func-thermo"]]
  },
  {
    "id": "func-thermo",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Calcolo Termostato",
    "func": "let now = new Date(msg.time);\nlet modo = global.get('riscaldamentoModo') || 1;\nlet spManuale = global.get('setPointManuale') || 20;\nlet temp = global.get('tempCurrent');\n\nif (typeof temp === 'string') temp = parseFloat(temp.replace(',','.'));\nif (isNaN(temp)) { node.status({fill:'red', shape:'ring', text:'No temp'}); return null; }\ntemp = Math.round(temp * 10) / 10;\n\nlet timing = global.get('timing');\nif (!timing) { node.status({fill:'yellow', shape:'ring', text:'No timing'}); return null; }\n\nlet jsDay = now.getDay();\nlet ourDay = jsDay === 0 ? 6 : jsDay - 1;\nlet hour = now.getHours();\nlet spAuto = timing[(ourDay * 24) + hour];\nglobal.set('setPointAuto', spAuto);\n\nlet modi = {1:'AUTO', 2:'OFF', 3:'MAN'};\nlet target = modo === 1 ? spAuto : (modo === 2 ? temp : spManuale);\nnode.status({fill: modo === 2 ? 'grey' : 'green', shape: 'dot', text: modi[modo] + ' SP:' + target + ' T:' + temp});\n\nlet hyst = modo === 2 ? 0 : 0.15;\n\nreturn [\n    {topic:'setCurrent', payload: temp},\n    {topic:'setTarget', payload: target},\n    {topic:'setHysteresisPlus', payload: hyst},\n    {topic:'setHysteresisMinus', payload: hyst},\n    {payload: target}\n];",
    "outputs": 5,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 340,
    "wires": [["ramp-thermo"], ["ramp-thermo", "oh-sp-auto"], ["ramp-thermo"], ["ramp-thermo"], ["ui-setpoint"]]
  },
  {
    "id": "ramp-thermo",
    "type": "ramp-thermostat",
    "z": "797c1ab8f59de950",
    "name": "Termostato",
    "profile": "29361ffb5398d62e",
    "hysteresisplus": "0.15",
    "hysteresisminus": "0.15",
    "x": 550,
    "y": 340,
    "wires": [["func-output"], [], []]
  },
  {
    "id": "func-output",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Output Caldaia",
    "func": "let modo = global.get('riscaldamentoModo') || 1;\nlet stato = global.get('statoCaldaia') || 'OFF';\nconst consenso = msg.payload === true;\nlet out = null;\n\nif (modo !== 2 && consenso && stato !== 'ON') {\n    out = {payload: 'ON'};\n    global.set('statoCaldaia', 'ON');\n} else if ((!consenso || modo === 2) && stato !== 'OFF') {\n    out = {payload: 'OFF'};\n    global.set('statoCaldaia', 'OFF');\n}\n\nnode.status({fill: consenso?'green':'grey', shape:'dot', text: global.get('statoCaldaia')});\nreturn [out, {payload: global.get('statoCaldaia')}];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 340,
    "wires": [["oh-caldaia"], ["ui-caldaia"]]
  },
  {
    "id": "ui-gauge",
    "type": "ui-gauge",
    "z": "797c1ab8f59de950",
    "name": "Temperatura",
    "group": "d959146169055fea",
    "order": 2,
    "value": "payload",
    "valueType": "msg",
    "width": "3",
    "height": "3",
    "gtype": "gauge-half",
    "gstyle": "needle",
    "title": "Temperatura",
    "units": "°C",
    "segments": [
      {"from": "15", "color": "#2196F3"},
      {"from": "19", "color": "#4CAF50"},
      {"from": "23", "color": "#FF9800"},
      {"from": "26", "color": "#f44336"}
    ],
    "min": "15",
    "max": "30",
    "sizeThickness": 16,
    "sizeGap": 4,
    "sizeKeyThickness": 8,
    "styleRounded": true,
    "styleGlow": false,
    "className": "",
    "x": 550,
    "y": 420,
    "wires": []
  },
  {
    "id": "ui-caldaia",
    "type": "ui-template",
    "z": "797c1ab8f59de950",
    "group": "d959146169055fea",
    "page": "",
    "ui": "",
    "name": "Caldaia",
    "order": 3,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <div class=\"caldaia-row\">\n        <span class=\"label\">Caldaia</span>\n        <div class=\"stato\">\n            <svg v-if=\"accesa\" viewBox=\"0 0 24 24\" class=\"flame on\">\n                <path d=\"M12 2c-1 4-4 6-4 10 0 3 2 5 4 5s4-2 4-5c0-4-3-6-4-10z\" fill=\"#FF6B35\"/>\n                <path d=\"M12 8c-.5 2-2 3-2 5 0 1.5 1 2.5 2 2.5s2-1 2-2.5c0-2-1.5-3-2-5z\" fill=\"#FFD93D\"/>\n            </svg>\n            <svg v-else viewBox=\"0 0 24 24\" class=\"flame off\">\n                <path d=\"M12 2c-1 4-4 6-4 10 0 3 2 5 4 5s4-2 4-5c0-4-3-6-4-10z\" fill=\"#444\"/>\n            </svg>\n            <span :class=\"accesa ? 'on' : 'off'\">{{ accesa ? 'ACCESA' : 'SPENTA' }}</span>\n        </div>\n    </div>\n</template>\n<script>\nexport default {\n    data() { return { accesa: false } },\n    watch: {\n        msg(m) {\n            if (m && m.payload !== undefined) {\n                this.accesa = (m.payload === 'ON' || m.payload === true || m.payload === 1);\n            }\n        }\n    }\n}\n</script>\n<style>\n.caldaia-row { display: flex; justify-content: space-between; align-items: center; padding: 8px 12px; background: #16213e; border-radius: 8px; font-family: sans-serif; }\n.label { color: #888; font-size: 14px; }\n.stato { display: flex; align-items: center; gap: 8px; }\n.flame { width: 24px; height: 24px; }\n.flame.on { filter: drop-shadow(0 0 6px #FF6B35); animation: flicker 0.4s infinite alternate; }\n@keyframes flicker { 0% { opacity: 1; transform: scale(1); } 100% { opacity: 0.85; transform: scale(0.95); } }\n.stato span { font-size: 14px; font-weight: bold; }\n.stato span.on { color: #FF6B35; }\n.stato span.off { color: #666; }\n</style>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 940,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "ui-setpoint",
    "type": "ui-text",
    "z": "797c1ab8f59de950",
    "group": "d959146169055fea",
    "order": 4,
    "width": "3",
    "height": "1",
    "name": "Setpoint",
    "label": "🎯 Setpoint",
    "format": "{{msg.payload}} °C",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 560,
    "y": 240,
    "wires": []
  },
  {
    "id": "ui-modo",
    "type": "ui-text",
    "z": "797c1ab8f59de950",
    "group": "d959146169055fea",
    "order": 5,
    "width": "3",
    "height": "1",
    "name": "Modo",
    "label": "⚙️ Modo",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 540,
    "y": 480,
    "wires": []
  },
  {
    "id": "oh-temp-in",
    "type": "openhab4-in",
    "z": "797c1ab8f59de950",
    "name": "SonoOffT",
    "controller": "c4421eb9d76916ca",
    "itemname": "SonoOffT",
    "x": 140,
    "y": 420,
    "wires": [["func-save-temp"], []]
  },
  {
    "id": "func-save-temp",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Salva Temp",
    "func": "let t = parseFloat(String(msg.payload).replace(',','.'));\nif (!isNaN(t)) {\n    t = Math.round(t * 10) / 10;\n    global.set('tempCurrent', t);\n    node.status({fill:'green', shape:'dot', text: t.toFixed(1)});\n    return {payload: t};\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 420,
    "wires": [["ui-gauge"]]
  },
  {
    "id": "oh-modo-in",
    "type": "openhab4-in",
    "z": "797c1ab8f59de950",
    "name": "Modo",
    "controller": "c4421eb9d76916ca",
    "itemname": "Riscaldamento_Modo",
    "x": 130,
    "y": 480,
    "wires": [["func-modo"], []]
  },
  {
    "id": "func-modo",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Salva Modo",
    "func": "let m = parseInt(msg.payload);\nlet modi = {1:'AUTO', 2:'OFF', 3:'MAN'};\nif (m >= 1 && m <= 3) {\n    global.set('riscaldamentoModo', m);\n    return {payload: modi[m]};\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 480,
    "wires": [["ui-modo"]]
  },
  {
    "id": "oh-sp-auto",
    "type": "openhab4-out",
    "z": "797c1ab8f59de950",
    "name": "SP Auto",
    "controller": "c4421eb9d76916ca",
    "itemname": "Riscaldamento_Auto_SP",
    "topic": "ItemUpdate",
    "payload": "",
    "x": 560,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "oh-caldaia",
    "type": "openhab4-out",
    "z": "797c1ab8f59de950",
    "name": "Caldaia",
    "controller": "c4421eb9d76916ca",
    "itemname": "FGS221_002_SwitchBinary2",
    "topic": "ItemCommand",
    "payload": "",
    "x": 940,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "inject-init",
    "type": "inject",
    "z": "797c1ab8f59de950",
    "name": "Init",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "x": 130,
    "y": 280,
    "wires": [["func-init"]]
  },
  {
    "id": "func-init",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Init",
    "func": "global.set('riscaldamentoModo', global.get('riscaldamentoModo') || 1);\nglobal.set('setPointManuale', global.get('setPointManuale') || 20);\nglobal.set('statoCaldaia', global.get('statoCaldaia') || 'OFF');",
    "outputs": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 280,
    "wires": []
  },
  {
    "id": "29361ffb5398d62e",
    "type": "profile",
    "name": "Casa",
    "time1": "00:00",
    "temp1": "10",
    "time2": "23:59",
    "temp2": "10"
  },
  {
    "id": "c4421eb9d76916ca",
    "type": "openhab4-controller",
    "name": "CM4HOME",
    "protocol": "http",
    "allowSelfSigned": false,
    "host": "localhost",
    "port": 8080,
    "path": ""
  },
  {
    "id": "d959146169055fea",
    "type": "ui-group",
    "name": "Riscaldamento",
    "page": "083058607137b9f5",
    "width": "6",
    "height": "1",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default"
  },
  {
    "id": "083058607137b9f5",
    "type": "ui-page",
    "name": "Termostato",
    "ui": "19cf8a64376d0885",
    "path": "/termostato",
    "icon": "mdi-thermometer",
    "layout": "grid",
    "theme": "aa01f2e4e29c5311",
    "breakpoints": [
      {"name": "Default", "px": "0", "cols": "3"},
      {"name": "Tablet", "px": "576", "cols": "6"},
      {"name": "Desktop", "px": "1024", "cols": "12"}
    ],
    "order": 1,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "19cf8a64376d0885",
    "type": "ui-base",
    "name": "Dashboard",
    "path": "/dashboard",
    "includeClientData": true,
    "acceptsClientConfig": ["ui-notification", "ui-control"],
    "showPathInSidebar": false
  },
  {
    "id": "aa01f2e4e29c5311",
    "type": "ui-theme",
    "name": "Dark",
    "colors": {
      "surface": "#1a1a2e",
      "primary": "#4ecdc4",
      "bgPage": "#0f0f1a",
      "groupBg": "#16213e",
      "groupOutline": "#1f2b4a"
    },
    "sizes": {
      "density": "default",
      "pagePadding": "12px",
      "groupGap": "12px",
      "groupBorderRadius": "12px",
      "widgetGap": "12px"
    }
  }
]
