CronotermostatoV6
[
  {
    "id": "797c1ab8f59de950",
    "type": "tab",
    "label": "Cronotermostato v6",
    "disabled": false,
    "info": "Cronotermostato Dashboard 2.x Vue.js\nLayout ottimizzato con gauge e stati integrati"
  },
  {
    "id": "comment1",
    "type": "comment",
    "z": "797c1ab8f59de950",
    "name": "=== CRONOTERMOSTATO v6 ===",
    "info": "Temp: SonoOffT\nFile: /etc/openhab/nodered/data/scheduler_new.log",
    "x": 160,
    "y": 40,
    "wires": []
  },
  {
    "id": "ui-template-main",
    "type": "ui-template",
    "z": "797c1ab8f59de950",
    "group": "d959146169055fea",
    "page": "",
    "ui": "",
    "name": "Cronotermostato UI",
    "order": 1,
    "width": "6",
    "height": "8",
    "head": "",
    "format": "<template>\n    <div class=\"thermo\">\n        <!-- Data e ora attuale -->\n        <div class=\"now-bar\">\n            <span class=\"now-icon\">🕐</span>\n            <span class=\"now-text\">{{ nowDay }} {{ nowTime }}</span>\n            <span v-if=\"isToday\" class=\"today-badge\">OGGI</span>\n        </div>\n        \n        <!-- Giorno programmazione -->\n        <div class=\"day-box\">\n            <small>PROGRAMMAZIONE</small>\n            <div class=\"day-name\">{{ dayName }}</div>\n            <div class=\"day-nav\">\n                <button @click=\"prevDay\">◀</button>\n                <button @click=\"goToday\" class=\"today-btn\">OGGI</button>\n                <button @click=\"nextDayBtn\">▶</button>\n            </div>\n        </div>\n        \n        <hr/>\n        \n        <!-- Ore 0-11 -->\n        <div class=\"hours\">\n            <div v-for=\"h in 12\" :key=\"'a'+h\" \n                 class=\"hcell\" \n                 :class=\"{sel: selHour===(h-1), now: isNowSlot(h-1)}\"\n                 @click=\"pickHour(h-1)\">\n                <small>{{ tempAt(h-1) }}°</small>\n                <div class=\"bar\">\n                    <div class=\"fill\" :style=\"barCss(h-1)\"></div>\n                </div>\n                <small>{{ h-1 }}</small>\n            </div>\n        </div>\n        \n        <hr/>\n        \n        <!-- Ore 12-23 -->\n        <div class=\"hours\">\n            <div v-for=\"h in 12\" :key=\"'b'+h\" \n                 class=\"hcell\" \n                 :class=\"{sel: selHour===(h+11), now: isNowSlot(h+11)}\"\n                 @click=\"pickHour(h+11)\">\n                <small>{{ tempAt(h+11) }}°</small>\n                <div class=\"bar\">\n                    <div class=\"fill\" :style=\"barCss(h+11)\"></div>\n                </div>\n                <small>{{ h+11 }}</small>\n            </div>\n        </div>\n        \n        <hr/>\n        \n        <!-- Info -->\n        <div class=\"info-row\">\n            <span class=\"big-temp\">{{ selTemp }}</span>\n            <span class=\"status\">{{ status }}</span>\n        </div>\n        \n        <!-- Bottoni -->\n        <div class=\"btns\">\n            <button @click=\"cmd('down')\">\n                <span class=\"icon\">▼</span>\n                <span>Giù</span>\n            </button>\n            <button @click=\"cmd('up')\">\n                <span class=\"icon\">▲</span>\n                <span>Su</span>\n            </button>\n            <button @click=\"cmd('copy')\">\n                <span class=\"icon\">⧉</span>\n                <span>Copia</span>\n            </button>\n            <button class=\"green\" @click=\"cmd('save')\">\n                <span class=\"icon\">💾</span>\n                <span>Salva</span>\n            </button>\n            <button class=\"red\" @click=\"cmd('cancel')\">\n                <span class=\"icon\">✕</span>\n                <span>Annulla</span>\n            </button>\n        </div>\n    </div>\n</template>\n\n<script>\nexport default {\n    data() {\n        return {\n            day: 1,\n            selHour: -1,\n            timing: [],\n            status: '',\n            nowDay: '',\n            nowTime: '',\n            nowDayIndex: 1,\n            nowHour: 0,\n            days: ['LUNEDÌ','MARTEDÌ','MERCOLEDÌ','GIOVEDÌ','VENERDÌ','SABATO','DOMENICA'],\n            daysShort: ['Lun','Mar','Mer','Gio','Ven','Sab','Dom']\n        }\n    },\n    computed: {\n        dayName() { return this.days[this.day - 1] || ''; },\n        selTemp() {\n            if (this.selHour < 0) return '--';\n            return this.tempAt(this.selHour) + '°C';\n        },\n        isToday() {\n            return this.day === this.nowDayIndex;\n        }\n    },\n    watch: {\n        msg(m) {\n            if (!m) return;\n            if (Array.isArray(m.timing)) this.timing = m.timing;\n            if (typeof m.day === 'number') this.day = m.day;\n            if (typeof m.selHour === 'number') this.selHour = m.selHour;\n            if (m.status) {\n                this.status = m.status;\n                setTimeout(() => this.status = '', 2500);\n            }\n            if (m.nowDay) this.nowDay = m.nowDay;\n            if (m.nowTime) this.nowTime = m.nowTime;\n            if (typeof m.nowDayIndex === 'number') this.nowDayIndex = m.nowDayIndex;\n            if (typeof m.nowHour === 'number') this.nowHour = m.nowHour;\n        }\n    },\n    mounted() {\n        this.send({action: 'init'});\n    },\n    methods: {\n        tempAt(h) {\n            if (!this.timing.length) return '--';\n            return this.timing[((this.day-1)*24) + h] || 18;\n        },\n        barCss(h) {\n            const t = this.tempAt(h);\n            if (t === '--') return {height:'0%'};\n            const pct = Math.round(((t - 14) / 12) * 100);\n            let c = '#00ACC1';\n            if (t <= 16) c = '#1E88E5';\n            else if (t <= 18) c = '#00ACC1';\n            else if (t <= 20) c = '#388E3C';\n            else if (t <= 22) c = '#8BC34A';\n            else if (t <= 24) c = '#FFC107';\n            else c = '#FF5722';\n            return {height: pct+'%', background: c};\n        },\n        isNowSlot(h) {\n            return this.isToday && h === this.nowHour;\n        },\n        pickHour(h) {\n            this.send({action:'selHour', hour: h});\n        },\n        prevDay() {\n            this.send({action:'prevDay'});\n        },\n        nextDayBtn() {\n            this.send({action:'nextDay'});\n        },\n        goToday() {\n            this.send({action:'goToday'});\n        },\n        cmd(c) {\n            this.send({action: c});\n        }\n    }\n}\n</script>\n\n<style>\n.thermo {\n    background: #1a1a2e;\n    padding: 8px;\n    border-radius: 10px;\n    font-family: sans-serif;\n    color: #eee;\n}\n.thermo hr {\n    border: none;\n    border-top: 1px solid #333;\n    margin: 5px 0;\n}\n.now-bar {\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    gap: 8px;\n    padding: 6px;\n    background: linear-gradient(135deg, #0d7377 0%, #14a3a8 100%);\n    border-radius: 8px;\n    margin-bottom: 6px;\n}\n.now-icon { font-size: 14px; }\n.now-text { font-size: 14px; font-weight: bold; color: #fff; }\n.today-badge {\n    background: #4CAF50;\n    color: #fff;\n    padding: 2px 6px;\n    border-radius: 8px;\n    font-size: 9px;\n    font-weight: bold;\n}\n.day-box {\n    text-align: center;\n    padding: 5px;\n    background: #16213e;\n    border-radius: 8px;\n}\n.day-box small { color: #888; font-size: 9px; }\n.day-name { font-size: 16px; font-weight: bold; color: #ff6b6b; margin: 2px 0; }\n.day-nav { display: flex; justify-content: center; gap: 6px; margin-top: 3px; }\n.day-nav button {\n    background: #0d7377;\n    border: none;\n    color: #fff;\n    padding: 4px 10px;\n    border-radius: 5px;\n    cursor: pointer;\n    font-size: 12px;\n}\n.day-nav button:hover { background: #14a3a8; }\n.day-nav .today-btn { background: #ff6b6b; font-size: 10px; }\n.day-nav .today-btn:hover { background: #ff8a8a; }\n.hours { display: flex; gap: 1px; }\n.hcell {\n    flex: 1;\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    cursor: pointer;\n    padding: 1px;\n    border-radius: 3px;\n}\n.hcell:hover { background: rgba(255,255,255,0.1); }\n.hcell.sel { background: rgba(76,175,80,0.4); box-shadow: 0 0 0 2px #4CAF50; }\n.hcell.now { box-shadow: 0 0 0 2px #ff6b6b; }\n.hcell.sel.now { box-shadow: 0 0 0 2px #4CAF50, 0 0 0 4px #ff6b6b; }\n.hcell small { font-size: 8px; color: #aaa; }\n.bar {\n    width: 100%;\n    height: 28px;\n    background: #111;\n    border-radius: 2px;\n    display: flex;\n    align-items: flex-end;\n    margin: 1px 0;\n}\n.fill { width: 100%; border-radius: 2px 2px 0 0; transition: all 0.2s; }\n.info-row {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    padding: 5px 10px;\n    background: #16213e;\n    border-radius: 6px;\n    margin: 3px 0;\n}\n.big-temp { font-size: 18px; font-weight: bold; color: #4ecdc4; }\n.status { color: #ff6b6b; font-size: 12px; font-weight: 500; }\n.btns { display: flex; gap: 3px; }\n.btns button {\n    flex: 1;\n    padding: 6px 2px;\n    background: linear-gradient(180deg, #1f2b4a 0%, #16213e 100%);\n    border: 1px solid #2a3f5f;\n    border-radius: 5px;\n    color: #ccc;\n    cursor: pointer;\n    font-size: 10px;\n    font-weight: 500;\n    transition: all 0.15s ease;\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    gap: 1px;\n}\n.btns button:hover {\n    background: linear-gradient(180deg, #2a3f5f 0%, #1f2b4a 100%);\n    border-color: #3a5070;\n    color: #fff;\n}\n.btns button .icon { font-size: 12px; }\n.btns button.green {\n    background: linear-gradient(180deg, #14a3a8 0%, #0d7377 100%);\n    border-color: #0d7377;\n    color: #fff;\n}\n.btns button.green:hover {\n    background: linear-gradient(180deg, #17b8bd 0%, #10888d 100%);\n}\n.btns button.red {\n    background: linear-gradient(180deg, #7a3333 0%, #5c2626 100%);\n    border-color: #5c2626;\n    color: #fff;\n}\n.btns button.red:hover {\n    background: linear-gradient(180deg, #8f3d3d 0%, #6b2e2e 100%);\n}\n</style>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 430,
    "y": 140,
    "wires": [["func-logic"]]
  },
  {
    "id": "ui-template-status",
    "type": "ui-template",
    "z": "797c1ab8f59de950",
    "group": "d959146169055fea",
    "page": "",
    "ui": "",
    "name": "Stato Sistema",
    "order": 2,
    "width": "6",
    "height": "4",
    "head": "",
    "format": "<template>\n    <div class=\"status-panel\">\n        <!-- Layout a due colonne -->\n        <div class=\"status-grid\">\n            <!-- Colonna sinistra: Gauge temperatura -->\n            <div class=\"gauge-section\">\n                <div class=\"gauge-container\">\n                    <svg viewBox=\"0 0 200 120\" class=\"gauge-svg\">\n                        <!-- Sfondo arco -->\n                        <path d=\"M 20 100 A 80 80 0 0 1 180 100\" fill=\"none\" stroke=\"#333\" stroke-width=\"12\" stroke-linecap=\"round\"/>\n                        <!-- Segmenti colorati -->\n                        <path d=\"M 20 100 A 80 80 0 0 1 50 40\" fill=\"none\" stroke=\"#2196F3\" stroke-width=\"12\" stroke-linecap=\"round\"/>\n                        <path d=\"M 50 40 A 80 80 0 0 1 100 20\" fill=\"none\" stroke=\"#4CAF50\" stroke-width=\"12\" stroke-linecap=\"round\"/>\n                        <path d=\"M 100 20 A 80 80 0 0 1 150 40\" fill=\"none\" stroke=\"#FF9800\" stroke-width=\"12\" stroke-linecap=\"round\"/>\n                        <path d=\"M 150 40 A 80 80 0 0 1 180 100\" fill=\"none\" stroke=\"#f44336\" stroke-width=\"12\" stroke-linecap=\"round\"/>\n                        <!-- Ago -->\n                        <line :x1=\"100\" :y1=\"100\" :x2=\"needleX\" :y2=\"needleY\" stroke=\"#fff\" stroke-width=\"3\" stroke-linecap=\"round\"/>\n                        <circle cx=\"100\" cy=\"100\" r=\"6\" fill=\"#fff\"/>\n                    </svg>\n                    <div class=\"gauge-value\">{{ tempDisplay }}°C</div>\n                    <div class=\"gauge-label\">Temperatura</div>\n                </div>\n            </div>\n            \n            <!-- Colonna destra: Stati -->\n            <div class=\"states-section\">\n                <!-- Caldaia -->\n                <div class=\"state-item\" :class=\"{active: caldaiaOn}\">\n                    <div class=\"state-icon\">\n                        <svg v-if=\"caldaiaOn\" viewBox=\"0 0 24 24\" class=\"flame on\">\n                            <path d=\"M12 23c-3.5 0-6.4-2.9-6.4-6.4 0-2.5 1.5-4.8 3.4-6.8.6-.6 1.2-1.2 1.8-1.9.2-.2.4-.4.5-.7.1-.2.2-.5.2-.8 0-.1 0-.3-.1-.4-.1-.2-.2-.3-.4-.4-.1-.1-.3-.1-.5-.1s-.4 0-.5.1c-.2.1-.3.2-.4.4l-.1.4c0 .3-.1.5-.2.8-.1.3-.3.5-.5.7-.6.7-1.2 1.3-1.8 1.9C5.5 11.8 4 14.1 4 16.6 4 21.1 7.6 24 12 24s8-2.9 8-7.4c0-2.5-1.5-4.8-3.4-6.8-.6-.6-1.2-1.2-1.8-1.9-.2-.2-.4-.4-.5-.7-.1-.2-.2-.5-.2-.8 0-.1 0-.3.1-.4.1-.2.2-.3.4-.4.1-.1.3-.1.5-.1s.4 0 .5.1c.2.1.3.2.4.4l.1.4c0 .3.1.5.2.8.1.3.3.5.5.7.6.7 1.2 1.3 1.8 1.9 1.9 2 3.4 4.3 3.4 6.8 0 3.5-2.9 6.4-6.4 6.4z\" fill=\"#FF6B35\"/>\n                            <path d=\"M12 21c-2 0-3.6-1.6-3.6-3.6 0-1.4.8-2.7 1.9-3.8.3-.3.7-.7 1-1.1.1-.1.2-.2.3-.4.1-.1.1-.3.1-.4 0-.1 0-.2-.1-.2 0-.1-.1-.2-.2-.2h-.3c-.1 0-.2.1-.2.2l-.1.2c0 .2 0 .3-.1.4-.1.2-.2.3-.3.4-.3.4-.7.8-1 1.1-1.1 1.1-1.9 2.4-1.9 3.8 0 2 1.6 3.6 3.6 3.6s3.6-1.6 3.6-3.6c0-1.4-.8-2.7-1.9-3.8-.3-.3-.7-.7-1-1.1-.1-.1-.2-.2-.3-.4-.1-.1-.1-.3-.1-.4 0-.1 0-.2.1-.2 0-.1.1-.2.2-.2h.3c.1 0 .2.1.2.2l.1.2c0 .2 0 .3.1.4.1.2.2.3.3.4.3.4.7.8 1 1.1 1.1 1.1 1.9 2.4 1.9 3.8 0 2-1.6 3.6-3.6 3.6z\" fill=\"#FFD93D\"/>\n                        </svg>\n                        <svg v-else viewBox=\"0 0 24 24\" class=\"flame off\">\n                            <path d=\"M12 23c-3.5 0-6.4-2.9-6.4-6.4 0-2.5 1.5-4.8 3.4-6.8.6-.6 1.2-1.2 1.8-1.9.2-.2.4-.4.5-.7.1-.2.2-.5.2-.8 0-.1 0-.3-.1-.4-.1-.2-.2-.3-.4-.4-.1-.1-.3-.1-.5-.1s-.4 0-.5.1c-.2.1-.3.2-.4.4l-.1.4c0 .3-.1.5-.2.8-.1.3-.3.5-.5.7-.6.7-1.2 1.3-1.8 1.9C5.5 11.8 4 14.1 4 16.6 4 21.1 7.6 24 12 24s8-2.9 8-7.4c0-2.5-1.5-4.8-3.4-6.8-.6-.6-1.2-1.2-1.8-1.9-.2-.2-.4-.4-.5-.7-.1-.2-.2-.5-.2-.8 0-.1 0-.3.1-.4.1-.2.2-.3.4-.4.1-.1.3-.1.5-.1s.4 0 .5.1c.2.1.3.2.4.4l.1.4c0 .3.1.5.2.8.1.3.3.5.5.7.6.7 1.2 1.3 1.8 1.9 1.9 2 3.4 4.3 3.4 6.8 0 3.5-2.9 6.4-6.4 6.4z\" fill=\"#555\"/>\n                        </svg>\n                    </div>\n                    <div class=\"state-info\">\n                        <div class=\"state-label\">Caldaia</div>\n                        <div class=\"state-value\" :class=\"{on: caldaiaOn}\">{{ caldaiaOn ? 'ACCESA' : 'SPENTA' }}</div>\n                    </div>\n                </div>\n                \n                <!-- Setpoint -->\n                <div class=\"state-item\">\n                    <div class=\"state-icon setpoint-icon\">🎯</div>\n                    <div class=\"state-info\">\n                        <div class=\"state-label\">Setpoint</div>\n                        <div class=\"state-value setpoint\">{{ setpoint }}°C</div>\n                    </div>\n                </div>\n                \n                <!-- Modo -->\n                <div class=\"state-item\">\n                    <div class=\"state-icon modo-icon\" :class=\"modoClass\">{{ modoIcon }}</div>\n                    <div class=\"state-info\">\n                        <div class=\"state-label\">Modalità</div>\n                        <div class=\"state-value\" :class=\"modoClass\">{{ modo }}</div>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n</template>\n\n<script>\nexport default {\n    data() {\n        return {\n            temp: 20,\n            caldaia: 'OFF',\n            setpoint: 20,\n            modo: 'AUTO'\n        }\n    },\n    computed: {\n        tempDisplay() {\n            return this.temp.toFixed(1);\n        },\n        caldaiaOn() {\n            return this.caldaia === 'ON';\n        },\n        needleX() {\n            const angle = this.tempToAngle(this.temp);\n            return 100 + 65 * Math.cos(angle);\n        },\n        needleY() {\n            return 100 + 65 * Math.sin(angle);\n        },\n        modoIcon() {\n            if (this.modo === 'AUTO') return '🅰️';\n            if (this.modo === 'OFF') return '⭕';\n            return '🔧';\n        },\n        modoClass() {\n            if (this.modo === 'AUTO') return 'auto';\n            if (this.modo === 'OFF') return 'off';\n            return 'manual';\n        }\n    },\n    watch: {\n        msg(m) {\n            if (!m) return;\n            if (typeof m.temp === 'number') this.temp = m.temp;\n            if (m.caldaia) this.caldaia = m.caldaia;\n            if (typeof m.setpoint === 'number') this.setpoint = m.setpoint;\n            if (m.modo) this.modo = m.modo;\n        }\n    },\n    methods: {\n        tempToAngle(t) {\n            const min = 15, max = 30;\n            const clamped = Math.max(min, Math.min(max, t));\n            const pct = (clamped - min) / (max - min);\n            return Math.PI + pct * Math.PI;\n        }\n    }\n}\n</script>\n\n<style>\n.status-panel {\n    background: #1a1a2e;\n    padding: 10px;\n    border-radius: 10px;\n    font-family: sans-serif;\n}\n.status-grid {\n    display: grid;\n    grid-template-columns: 1fr 1fr;\n    gap: 10px;\n    align-items: center;\n}\n.gauge-section {\n    display: flex;\n    justify-content: center;\n}\n.gauge-container {\n    text-align: center;\n    width: 100%;\n    max-width: 180px;\n}\n.gauge-svg {\n    width: 100%;\n    height: auto;\n}\n.gauge-value {\n    font-size: 28px;\n    font-weight: bold;\n    color: #4ecdc4;\n    margin-top: -20px;\n}\n.gauge-label {\n    font-size: 11px;\n    color: #888;\n    margin-top: 2px;\n}\n.states-section {\n    display: flex;\n    flex-direction: column;\n    gap: 8px;\n}\n.state-item {\n    display: flex;\n    align-items: center;\n    gap: 10px;\n    padding: 8px 12px;\n    background: linear-gradient(135deg, #16213e 0%, #1a1a2e 100%);\n    border-radius: 8px;\n    border: 1px solid #2a3f5f;\n}\n.state-item.active {\n    border-color: #FF6B35;\n    background: linear-gradient(135deg, #2a1a10 0%, #1a1a2e 100%);\n}\n.state-icon {\n    width: 32px;\n    height: 32px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    font-size: 24px;\n}\n.state-icon svg {\n    width: 32px;\n    height: 32px;\n}\n.flame.on {\n    filter: drop-shadow(0 0 8px #FF6B35);\n    animation: flicker 0.5s infinite alternate;\n}\n@keyframes flicker {\n    0% { opacity: 1; transform: scale(1); }\n    100% { opacity: 0.8; transform: scale(0.95); }\n}\n.setpoint-icon { font-size: 22px; }\n.modo-icon { font-size: 20px; }\n.modo-icon.auto { color: #4CAF50; }\n.modo-icon.off { color: #888; }\n.modo-icon.manual { color: #FF9800; }\n.state-info { flex: 1; }\n.state-label {\n    font-size: 10px;\n    color: #888;\n    text-transform: uppercase;\n}\n.state-value {\n    font-size: 14px;\n    font-weight: bold;\n    color: #eee;\n}\n.state-value.on { color: #FF6B35; }\n.state-value.setpoint { color: #4ecdc4; }\n.state-value.auto { color: #4CAF50; }\n.state-value.off { color: #888; }\n.state-value.manual { color: #FF9800; }\n</style>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 430,
    "y": 560,
    "wires": [[]]
  },
  {
    "id": "func-logic",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Logica Cronotermostato",
    "func": "// Costanti\nconst TEMP_MIN = 14;\nconst TEMP_MAX = 26;\nconst TEMP_STEP = 0.5;\nconst TIMEOUT_SECONDS = flow.get('timeoutSeconds') || 30;\n\n// Stato\nlet day = context.get('day');\nlet selHour = context.get('selHour') ?? -1;\nlet timing = global.get('timing');\nlet lastActivity = context.get('lastActivity') || 0;\n\n// Calcola giorno/ora attuali\nlet now = new Date();\nlet jsDay = now.getDay();\nlet nowDayIndex = jsDay === 0 ? 7 : jsDay;\nlet nowHour = now.getHours();\nlet daysShort = ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'];\nlet nowDay = daysShort[jsDay] + ' ' + now.getDate() + '/' + (now.getMonth()+1);\nlet nowTime = ('0'+now.getHours()).slice(-2) + ':' + ('0'+now.getMinutes()).slice(-2);\n\nif (!timing || !Array.isArray(timing) || timing.length < 168) {\n    timing = new Array(170).fill(18);\n    global.set('timing', timing);\n}\n\nif (day === undefined) {\n    day = nowDayIndex;\n    context.set('day', day);\n}\n\nlet status = '';\nlet action = msg.action || '';\n\nif (action === '' && msg.checkTimeout) {\n    let elapsed = (Date.now() - lastActivity) / 1000;\n    if (lastActivity > 0 && elapsed > TIMEOUT_SECONDS && day !== nowDayIndex) {\n        day = nowDayIndex;\n        selHour = -1;\n        status = 'Ritorno a oggi';\n        context.set('lastActivity', 0);\n    }\n}\n\nswitch (action) {\n    case 'init':\n        day = nowDayIndex;\n        selHour = -1;\n        context.set('lastActivity', 0);\n        break;\n    case 'nextDay':\n        day++;\n        if (day > 7) day = 1;\n        selHour = -1;\n        context.set('lastActivity', Date.now());\n        break;\n    case 'prevDay':\n        day--;\n        if (day < 1) day = 7;\n        selHour = -1;\n        context.set('lastActivity', Date.now());\n        break;\n    case 'goToday':\n        day = nowDayIndex;\n        selHour = -1;\n        status = 'Oggi';\n        context.set('lastActivity', 0);\n        break;\n    case 'selHour':\n        selHour = msg.hour;\n        status = 'Ore ' + selHour + ':00';\n        context.set('lastActivity', Date.now());\n        break;\n    case 'up':\n        if (selHour >= 0) {\n            let idx = ((day - 1) * 24) + selHour;\n            if (timing[idx] < TEMP_MAX) {\n                timing[idx] += TEMP_STEP;\n                status = timing[idx] + '°C';\n            } else {\n                status = 'Max!';\n            }\n            context.set('lastActivity', Date.now());\n        } else {\n            status = 'Seleziona ora';\n        }\n        break;\n    case 'down':\n        if (selHour >= 0) {\n            let idx = ((day - 1) * 24) + selHour;\n            if (timing[idx] > TEMP_MIN) {\n                timing[idx] -= TEMP_STEP;\n                status = timing[idx] + '°C';\n            } else {\n                status = 'Min!';\n            }\n            context.set('lastActivity', Date.now());\n        } else {\n            status = 'Seleziona ora';\n        }\n        break;\n    case 'copy':\n        if (day < 7) {\n            for (let h = 0; h < 24; h++) {\n                timing[(day * 24) + h] = timing[((day - 1) * 24) + h];\n            }\n            day++;\n            selHour = -1;\n            status = 'Giorno copiato →';\n            context.set('lastActivity', Date.now());\n        } else {\n            status = 'Ultimo giorno!';\n        }\n        break;\n    case 'save':\n        global.set('timing', timing);\n        node.send([null, {payload: JSON.stringify(timing)}]);\n        status = '✓ Salvato!';\n        context.set('lastActivity', 0);\n        break;\n    case 'cancel':\n        node.send([null, null, {payload: 'reload'}]);\n        status = 'Ricaricato';\n        day = nowDayIndex;\n        selHour = -1;\n        context.set('lastActivity', 0);\n        break;\n}\n\ncontext.set('day', day);\ncontext.set('selHour', selHour);\nglobal.set('timing', timing);\n\nlet out = {\n    timing: timing,\n    day: day,\n    selHour: selHour,\n    status: status,\n    nowDay: nowDay,\n    nowTime: nowTime,\n    nowDayIndex: nowDayIndex,\n    nowHour: nowHour\n};\n\nreturn [out, null, null];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "flow.set('timeoutSeconds', 30);",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 140,
    "wires": [
      ["link-to-ui"],
      ["file-save"],
      ["file-load"]
    ]
  },
  {
    "id": "link-to-ui",
    "type": "link out",
    "z": "797c1ab8f59de950",
    "name": "→ UI",
    "links": ["link-from-logic"],
    "x": 915,
    "y": 100,
    "wires": []
  },
  {
    "id": "link-from-logic",
    "type": "link in",
    "z": "797c1ab8f59de950",
    "name": "← Logic",
    "links": ["link-to-ui", "link-time-update"],
    "x": 235,
    "y": 140,
    "wires": [["ui-template-main"]]
  },
  {
    "id": "file-save",
    "type": "file",
    "z": "797c1ab8f59de950",
    "name": "Salva",
    "filename": "/etc/openhab/nodered/data/scheduler_new.log",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 930,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "file-load",
    "type": "file in",
    "z": "797c1ab8f59de950",
    "name": "Carica",
    "filename": "/etc/openhab/nodered/data/scheduler_new.log",
    "filenameType": "str",
    "format": "utf8",
    "sendError": true,
    "encoding": "none",
    "allProps": false,
    "x": 930,
    "y": 180,
    "wires": [["func-restore"]]
  },
  {
    "id": "func-restore",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Restore",
    "func": "try {\n    let data = JSON.parse(msg.payload);\n    if (Array.isArray(data) && data.length >= 168) {\n        global.set('timing', data);\n        node.status({fill:'green', shape:'dot', text:'OK'});\n        \n        let now = new Date();\n        let jsDay = now.getDay();\n        let nowDayIndex = jsDay === 0 ? 7 : jsDay;\n        let daysShort = ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'];\n        let nowDay = daysShort[jsDay] + ' ' + now.getDate() + '/' + (now.getMonth()+1);\n        let nowTime = ('0'+now.getHours()).slice(-2) + ':' + ('0'+now.getMinutes()).slice(-2);\n        \n        return {\n            timing: data,\n            day: nowDayIndex,\n            selHour: -1,\n            status: 'Caricato',\n            nowDay: nowDay,\n            nowTime: nowTime,\n            nowDayIndex: nowDayIndex,\n            nowHour: now.getHours()\n        };\n    }\n} catch(e) {\n    node.status({fill:'yellow', shape:'ring', text:'Usando default'});\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1080,
    "y": 180,
    "wires": [["link-to-ui"]]
  },
  {
    "id": "inject-start",
    "type": "inject",
    "z": "797c1ab8f59de950",
    "name": "Avvio",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "x": 930,
    "y": 220,
    "wires": [["file-load"]]
  },
  {
    "id": "inject-time-update",
    "type": "inject",
    "z": "797c1ab8f59de950",
    "name": "Ogni 10s",
    "props": [{"p": "checkTimeout", "v": "true", "vt": "bool"}],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "x": 420,
    "y": 220,
    "wires": [["func-time-update"]]
  },
  {
    "id": "func-time-update",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Aggiorna Ora + Check Timeout",
    "func": "let now = new Date();\nlet jsDay = now.getDay();\nlet nowDayIndex = jsDay === 0 ? 7 : jsDay;\nlet nowHour = now.getHours();\nlet daysShort = ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'];\nlet nowDay = daysShort[jsDay] + ' ' + now.getDate() + '/' + (now.getMonth()+1);\nlet nowTime = ('0'+now.getHours()).slice(-2) + ':' + ('0'+now.getMinutes()).slice(-2);\n\nmsg.nowDay = nowDay;\nmsg.nowTime = nowTime;\nmsg.nowDayIndex = nowDayIndex;\nmsg.nowHour = nowHour;\nmsg.action = '';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 220,
    "wires": [["func-logic"]]
  },
  {
    "id": "comment2",
    "type": "comment",
    "z": "797c1ab8f59de950",
    "name": "=== LOGICA TERMOSTATO ===",
    "info": "",
    "x": 170,
    "y": 300,
    "wires": []
  },
  {
    "id": "inject-30s",
    "type": "inject",
    "z": "797c1ab8f59de950",
    "name": "30s",
    "props": [{"p": "time", "v": "", "vt": "date"}],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "x": 130,
    "y": 400,
    "wires": [["func-thermo"]]
  },
  {
    "id": "func-thermo",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Calcolo Termostato",
    "func": "let now = new Date(msg.time);\nglobal.set('time', now);\n\nlet modo = global.get('riscaldamentoModo') || 1;\nlet spManuale = global.get('setPointManuale') || 20;\nlet tempCurrent = global.get('tempCurrent');\n\nlet temp = NaN;\nif (typeof tempCurrent === 'number') {\n    temp = tempCurrent;\n} else if (typeof tempCurrent === 'string') {\n    temp = parseFloat(tempCurrent.replace(',','.').replace(/[^0-9.-]/g,''));\n}\n\nif (isNaN(temp)) {\n    node.status({fill:'red', shape:'ring', text:'No temp'});\n    return null;\n}\n\n// Arrotonda a 1 decimale\ntemp = Math.round(temp * 10) / 10;\n\nlet timing = global.get('timing');\nif (!timing) {\n    node.status({fill:'yellow', shape:'ring', text:'No timing'});\n    return null;\n}\n\nlet jsDay = now.getDay();\nlet ourDay = jsDay === 0 ? 6 : jsDay - 1;\nlet hour = now.getHours();\n\nlet spAuto = timing[(ourDay * 24) + hour];\nglobal.set('setPointAuto', spAuto);\n\nlet giorni = ['Lun','Mar','Mer','Gio','Ven','Sab','Dom'];\nlet modi = {1:'AUTO', 2:'OFF', 3:'MAN'};\nnode.status({\n    fill: modo === 2 ? 'grey' : 'green',\n    shape: 'dot',\n    text: giorni[ourDay] + ' ' + hour + 'h | ' + (modi[modo]||'?') + ' | SP:' + spAuto + ' | T:' + temp.toFixed(1)\n});\n\nlet msg1 = {topic:'setCurrent', payload: temp};\nlet msg2 = {topic:'setTarget'};\nlet msg3 = {topic:'setHysteresisPlus'};\nlet msg4 = {topic:'setHysteresisMinus'};\n\nif (modo === 1) {\n    msg2.payload = spAuto;\n    msg3.payload = 0.1;\n    msg4.payload = 0.2;\n} else if (modo === 2) {\n    msg2.payload = temp;\n    msg3.payload = 0;\n    msg4.payload = 0;\n} else {\n    msg2.payload = spManuale;\n    msg3.payload = 0.1;\n    msg4.payload = 0.2;\n}\n\nreturn [msg1, msg2, msg3, msg4];",
    "outputs": 4,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 400,
    "wires": [
      ["ramp-thermo"],
      ["ramp-thermo", "oh-sp-auto"],
      ["ramp-thermo"],
      ["ramp-thermo"]
    ]
  },
  {
    "id": "ramp-thermo",
    "type": "ramp-thermostat",
    "z": "797c1ab8f59de950",
    "name": "Termostato",
    "profile": "29361ffb5398d62e",
    "hysteresisplus": "0.1",
    "hysteresisminus": "0.2",
    "x": 550,
    "y": 400,
    "wires": [
      ["func-output"],
      ["func-status-update"],
      []
    ]
  },
  {
    "id": "func-output",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Output Caldaia",
    "func": "let modo = global.get('riscaldamentoModo') || 1;\nlet stato = global.get('statoCaldaia') || 'OFF';\nlet spAuto = global.get('setPointAuto') || 20;\nlet spMan = global.get('setPointManuale') || 20;\n\nconst consenso = msg.payload === true;\n\nlet outCaldaia = null;\nlet outSP = null;\n\nif (modo !== 2 && consenso) {\n    if (stato !== 'ON') {\n        outCaldaia = {payload: 'ON'};\n        global.set('statoCaldaia', 'ON');\n    }\n} else {\n    if (stato !== 'OFF') {\n        outCaldaia = {payload: 'OFF'};\n        global.set('statoCaldaia', 'OFF');\n    }\n}\n\nif (modo === 1) {\n    outSP = {payload: spAuto};\n} else if (modo === 3) {\n    outSP = {payload: spMan};\n}\n\nlet icon = global.get('statoCaldaia') === 'ON' ? '🔥 ON' : '❄️ OFF';\nnode.status({fill: consenso?'green':'grey', shape:'dot', text: icon});\n\nreturn [outCaldaia, outSP];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 380,
    "wires": [
      ["oh-caldaia", "func-status-update"],
      ["rbe-sp"]
    ]
  },
  {
    "id": "func-status-update",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Aggiorna Status Panel",
    "func": "let temp = global.get('tempCurrent') || 20;\nlet caldaia = global.get('statoCaldaia') || 'OFF';\nlet spAuto = global.get('setPointAuto') || 20;\nlet spMan = global.get('setPointManuale') || 20;\nlet modo = global.get('riscaldamentoModo') || 1;\n\nlet modi = {1:'AUTO', 2:'OFF', 3:'MAN'};\nlet setpoint = modo === 1 ? spAuto : (modo === 3 ? spMan : spAuto);\n\n// Arrotonda temperatura a 1 decimale\nif (typeof temp === 'string') {\n    temp = parseFloat(temp.replace(',','.'));\n}\ntemp = Math.round(temp * 10) / 10;\n\nreturn {\n    temp: temp,\n    caldaia: caldaia,\n    setpoint: setpoint,\n    modo: modi[modo] || 'AUTO'\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 480,
    "wires": [["ui-template-status"]]
  },
  {
    "id": "rbe-sp",
    "type": "rbe",
    "z": "797c1ab8f59de950",
    "name": "Filtro",
    "func": "rbe",
    "gap": "0.5",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 890,
    "y": 420,
    "wires": [["func-status-update"]]
  },
  {
    "id": "oh-temp-in",
    "type": "openhab4-in",
    "z": "797c1ab8f59de950",
    "name": "SonoOffT",
    "controller": "c4421eb9d76916ca",
    "itemname": "SonoOffT",
    "x": 140,
    "y": 480,
    "wires": [["func-save-temp"], []]
  },
  {
    "id": "func-save-temp",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Salva Temp",
    "func": "let t = msg.payload;\nif (typeof t === 'string') {\n    t = parseFloat(t.replace(',','.'));\n}\nif (!isNaN(t)) {\n    // Arrotonda a 1 decimale\n    t = Math.round(t * 10) / 10;\n    global.set('tempCurrent', t);\n    node.status({fill:'green', shape:'dot', text: t.toFixed(1)+'°C'});\n}",
    "outputs": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 480,
    "wires": []
  },
  {
    "id": "oh-modo-in",
    "type": "openhab4-in",
    "z": "797c1ab8f59de950",
    "name": "Modo",
    "controller": "c4421eb9d76916ca",
    "itemname": "Riscaldamento_Modo",
    "x": 130,
    "y": 540,
    "wires": [["func-modo"], []]
  },
  {
    "id": "func-modo",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Salva Modo",
    "func": "let modi = {1:'AUTO', 2:'OFF', 3:'MAN'};\nlet m = parseInt(msg.payload);\nif (modi[m]) {\n    global.set('riscaldamentoModo', m);\n    msg.payload = modi[m];\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 540,
    "wires": [["func-status-update"]]
  },
  {
    "id": "oh-sp-auto",
    "type": "openhab4-out",
    "z": "797c1ab8f59de950",
    "name": "SP Auto",
    "controller": "c4421eb9d76916ca",
    "itemname": "Riscaldamento_Auto_SP",
    "topic": "ItemUpdate",
    "payload": "",
    "x": 560,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "oh-caldaia",
    "type": "openhab4-out",
    "z": "797c1ab8f59de950",
    "name": "Caldaia",
    "controller": "c4421eb9d76916ca",
    "itemname": "FGS221_002_SwitchBinary2",
    "topic": "ItemCommand",
    "payload": "",
    "x": 940,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "inject-init",
    "type": "inject",
    "z": "797c1ab8f59de950",
    "name": "Init",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "x": 130,
    "y": 340,
    "wires": [["func-init"]]
  },
  {
    "id": "func-init",
    "type": "function",
    "z": "797c1ab8f59de950",
    "name": "Init Globali",
    "func": "const def = {\n    riscaldamentoModo: 1,\n    setPointManuale: 20,\n    statoCaldaia: 'OFF'\n};\nfor (let k in def) {\n    if (global.get(k) === undefined) {\n        global.set(k, def[k]);\n    }\n}\nnode.status({fill:'green', shape:'dot', text:'OK'});",
    "outputs": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 340,
    "wires": []
  },
  {
    "id": "29361ffb5398d62e",
    "type": "profile",
    "name": "Casa",
    "time1": "00:00",
    "temp1": "10",
    "time2": "23:59",
    "temp2": "10"
  },
  {
    "id": "c4421eb9d76916ca",
    "type": "openhab4-controller",
    "name": "CM4HOME",
    "protocol": "http",
    "allowSelfSigned": false,
    "host": "localhost",
    "port": 8080,
    "path": ""
  },
  {
    "id": "d959146169055fea",
    "type": "ui-group",
    "name": "Riscaldamento",
    "page": "083058607137b9f5",
    "width": "6",
    "height": "1",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default"
  },
  {
    "id": "083058607137b9f5",
    "type": "ui-page",
    "name": "Termostato",
    "ui": "19cf8a64376d0885",
    "path": "/termostato",
    "icon": "mdi-thermometer",
    "layout": "grid",
    "theme": "aa01f2e4e29c5311",
    "breakpoints": [
      {"name": "Default", "px": "0", "cols": "3"},
      {"name": "Tablet", "px": "576", "cols": "6"},
      {"name": "Desktop", "px": "1024", "cols": "12"}
    ],
    "order": 1,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "19cf8a64376d0885",
    "type": "ui-base",
    "name": "Dashboard",
    "path": "/dashboard",
    "includeClientData": true,
    "acceptsClientConfig": ["ui-notification", "ui-control"],
    "showPathInSidebar": false
  },
  {
    "id": "aa01f2e4e29c5311",
    "type": "ui-theme",
    "name": "Dark",
    "colors": {
      "surface": "#1a1a2e",
      "primary": "#4ecdc4",
      "bgPage": "#0f0f1a",
      "groupBg": "#16213e",
      "groupOutline": "#1f2b4a"
    },
    "sizes": {
      "density": "default",
      "pagePadding": "12px",
      "groupGap": "12px",
      "groupBorderRadius": "12px",
      "widgetGap": "12px"
    }
  }
]
